body {
    background-color: #111616;
    color: #FFF;
}

.main-image {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin: 4em;
    border-radius: 50%;
    height: 18em;
    width: 18em;
}

[class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

.main-title {
    margin-top: 1em;
    text-align: center;
    font-size: 3em;
    color: #FFF;
    margin-bottom: .3em;
}

.title-divider {
    width: 16vw;
    height: .5vh;
    margin-top: 4vh;
    margin-bottom: 4vh;
    background-color: #fff;
    text-align: center;
    margin-bottom: 1em;
}

.content-title {
    margin-bottom: 9vh;
    font-size: 5em;
    line-height: 48px;
}


.img-desc {
   margin-top: 2em;    
   max-height: 45vh;
   max-width: 45vw;
   padding:1px;
   border:1px solid #111616;
   background-color:#FFF;
   height: auto;
   width: auto;
   background-color: #111616;
}

@media (max-width: 1260px) and (min-width: 990px) {
     .img-desc {
       max-height: 30vh;
       max-width: 30vw;
    }
}

.img-desc:hover{ transform: translateY(-15px); } 

.entry_odd {
    margin-left: 12vw;
    margin-right: 12vw;
    overflow: hidden;
    margin-bottom: 12vh;
}

.entry_even {
    margin-left: 12vw;
    margin-right: 12vw;
    overflow: hidden; 
    margin-bottom: 12vh;
}


.header-description {
    font-size: 3em;
    letter-spacing: .1em;
}

.divider {
    width: 5vw;
    height: .5vh;
    margin-top: 4vh;
    margin-bottom: 4vh;
    background-color: #fff;
}


.item-description {
    color: #e5e5e5;
    font-size: 1.5em;
}

a {
    color: #FFF;
    text-decoration: underline;
    -webkit-text-decoration-color: white;
    text-decoration-color: white;
}

a:hover {
    color: #FFF;
}

ul {
    margin: 0.75em 0;
    padding: 0 1em;
    list-style: none;
    font-size: 1.5em;
}
li:before { 
    content: "";
    border-color: transparent #FFF;
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    top: 0.9em;
    position: relative;
}

.main-header {
    margin-bottom: 10em;
}


.main-header a {
  left: 50%;
  z-index: 2;
  margin-top: 1em;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}

.main-header a:hover {
  opacity: .5;
}


.main-header a span {
  position: absolute;
  margin-top: 1em;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}



